.home,
.waiting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    // @keyframes loading {
    //     0% {
    //         transform: rotateZ(0);
    //     }

    //     6.25% {
    //         transform: rotateZ(30deg) scale(1.2, 1.2);
    //     }

    //     12.5% {
    //         transform: rotateZ(0);
    //     }

    //     18.75% {
    //         transform: rotateZ(30deg) scale(1.2, 1.2);
    //     }

    //     25% {
    //         transform: rotateZ(0);
    //     }

    //     31.25% {
    //         transform: rotateZ(30deg) scale(1.2, 1.2);
    //     }

    //     37.5% {
    //         transform: rotateZ(0);
    //     }

    //     42.75% {
    //         transform: rotateZ(30deg) scale(1.2, 1.2);
    //     }

    //     50% {
    //         transform: rotateZ(0);
    //     }

    //     56.25% {
    //         transform: rotateZ(-30deg) scale(1.2, 1.2);
    //     }

    //     62.5% {
    //         transform: rotateZ(0);
    //     }

    //     68.75% {
    //         transform: rotateZ(-30deg) scale(1.2, 1.2);
    //     }

    //     75% {
    //         transform: rotateZ(0);
    //     }

    //     81.25% {
    //         transform: rotateZ(-30deg) scale(1.2, 1.2);
    //     }

    //     87.5% {
    //         transform: rotateZ(0);
    //     }

    //     93.75% {
    //         transform: rotateZ(-30deg) scale(1.2, 1.2);
    //     }

    //     98% {
    //         transform: rotateY(0);
    //     }

    //     100% {
    //         transform: rotateZ(0) rotateY(360deg);
    //     }
    // }

    @keyframes loading {
        0% {
            transform: rotateY(0) rotateZ(0);
        }

        10% {
            transform: rotateY(0) rotateZ(0);
        }

        30% {
            transform: rotateZ(60deg);
        }

        35% {
            transform: rotateZ(60deg);
        }

        80% {
            transform: rotateY(0) rotateZ(-360deg);
        }

        100% {
            transform: rotateY(360deg) rotateZ(-360deg);
        }
    }

    .loading {
        animation: loading 3s ease-in-out infinite normal;
    }
}

.playing {
    display: flex;
    gap: 2em;

    .state-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1em;
        border-right: 1px solid var(--border-color);
        transition: all 0.3s;

        h3 {
            text-align: center;
        }
    }

    .main-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        gap: 2em;

        .card-container,
        .item-container {
            font-size: 24px;

            span:not(:first-of-type) {
                padding-left: 1em;
            }
        }

        .log-container {
            flex: 1;
            font-size: 22px;
            overflow: hidden;
            text-align: center;

            p:first-child {
                margin-top: 0;
            }
        }

        .card-container {
            position: relative;
            overflow: hidden;

            @keyframes show-card {
                from {
                    left: 100%;
                }

                to {
                    left: 0;
                }
            }

            .card {
                position: relative;
                animation: show-card 1s ease-out 1;
            }
        }
    }

    .items-container {
        padding: 1em;
        border-left: 1px solid var(--border-color);
        overflow-x: hidden;
        transition: all 0.3s;

        .item {
            position: relative;

            @keyframes show-item {
                from {
                    left: 100%;
                }

                to {
                    left: 0;
                }
            }

            animation: show-item 1s ease-out 1;

            &:not(:first-of-type) {
                margin-top: 0.5em;
            }
        }

        h3 {
            text-align: center;
        }
    }
}

.closed,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
}