@import '@/assets/vars';

.account-container {
    position: relative;

    .router-container {
        width: 95vw;
        margin: auto;
        padding: 40px 0 5em 0;

        @media (min-width: $screen-sm) {
            width: 85%;
        }
    }
}