@import '@/assets/vars';

.cards-container {
    padding-top: 20px;
    padding-bottom: 5em;

    .card-add {
        border: 1px solid var(--border-color);
        padding: 1em 2em;

        button {
            display: block;
            margin-left: auto;
            margin-top: 10px;
        }
    }

    .card {
        margin-top: 20px;
        padding: 1em 2em;
        border: 1px solid var(--border-color);

        :deep(.n-thing-main__content) {
            word-break: break-all;
        }

        :deep(.n-thing-header__extra) {
            button {
                vertical-align: middle;
            }
        }
    }

    .n-empty{
        margin-top: 20px;
    }

    @media (min-width: $screen-sm) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}